body
{
    background-color: cornflowerblue;
}

.game
{
    padding-top: 10px;
}

.board
{
    margin: 0 auto;
    padding: 15px;
    width: 440px;
}

.ligne
{
    display: flex;
    flex: 1;
    width: auto;
    background-color: #282c34;
    align-content: center;
}

span
{
    font-weight: bold;
    font-size: 20px;
}

.new
{
    border-radius: 20px;
    background-color: lightgrey;
    font-size: 20px;
    font-weight: bold;
    border-color: blue;
    margin: 15px;
    padding: 15px;
}

.new:hover
{
    background-color: gray;
}

footer
{
    background-color: #282c34;
    color:white;
    position: fixed;
    bottom: 0;
    width: 100%;
}
